<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="header text-center">
                        <h3 class="title">Tools Used</h3>
                        <h4><a>TypeScript Programming language by Microsoft</a></h4>
                        <h4><a>Angular 4</a> Framework by Google</h4>
                        <h4><a>Node js</a></h4>
                        <h4><a>Loopback by IBM</a> for RestAPi</h4>
                        <h4><a>MongoDB</a> for Database</h4>
                        <h4><a>Electron</a> for creating Cross platform Deskstop App</h4>
                    </div>
                    Made with <i class="ti-heart icon-danger"></i> by Ashish Kumar, Siddhant Bhoir AND Prashant Shinde.
                </div> 
            </div>
        </div>
    </div>
</div>
